# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "CHANGELOG.md"
default_stages: [ commit ]

repos:
    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v4.5.0
        hooks:
            -   id: debug-statements
            -   id: check-builtin-literals
            -   id: check-case-conflict
            -   id: check-docstring-first
            -   id: check-json
            -   id: check-toml
            -   id: check-yaml
            -   id: detect-private-key
            -   id: end-of-file-fixer
            -   id: trailing-whitespace
    -   repo: https://github.com/python-poetry/poetry
        rev: 1.7.1
        hooks:
            -   id: poetry-check
    -   repo: https://github.com/PyCQA/isort
        rev: 5.12.0
        hooks:
            -   id: isort
    -   repo: https://github.com/psf/black-pre-commit-mirror
        rev: 23.11.0
        hooks:
          - id: black
            language_version: python3
    -   repo: https://github.com/codespell-project/codespell
        rev: v2.2.6
        hooks:
            -   id: codespell
    -   repo: https://github.com/charliermarsh/ruff-pre-commit
        rev: v0.1.7
        hooks:
            -   id: ruff
                args:
                    - --fix
    -   repo: https://github.com/pre-commit/mirrors-mypy
        rev: v1.7.1
        hooks:
            -   id: mypy
                exclude: cli.py
                additional_dependencies: [ "types-paho-mqtt" ]
