[tool.poetry]
name = "python-roborock"
version = "0.1.10"
description = ""
authors = ["humbertogontijo <humbertogontijo@users.noreply.github.com>"]
license = "GPL-3.0-only"
readme = "README.md"
packages = [{include = "roborock"}]

[tool.poetry.scripts]
roborock = "roborock.cli:main"

[tool.poetry.dependencies]
python = "^3.9"
click = ">=8"
aiohttp = "*"
async-timeout = "*"
pycryptodome = "~3.17.0"
pycryptodomex = {version = "~3.17.0", markers = "sys_platform == 'darwin'"}
paho-mqtt = "~1.6.1"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.dev-dependencies]
pytest-asyncio = "*"
pytest = "*"

